@media (max-width: 980px) {
  .i-nav{
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 25px;
    padding-right: 75px;
    float: right;
  }

  .nav-icon{
    width: 25px;
  }

  .g1{
    padding: 50px 0 0 0;
  }
  .g2{
    padding: 0 0 50px 0;
  }

  .tips{
    width: 350px;
  }

  nav {
    margin-top: 70px;
  }

  .nav-color {
    font-size: 20px;
  }

  nav ul {
    overflow: hidden;
    background: #ececec;
    visibility: hidden;
    height: 0;
    width: 100%;
    transition: all 0.5s;
  }

  nav ul.open {
    display: inline-block;
    visibility: visible;
    height: 200px;
    transition: all 0.5s;
  }

  .dim {
    transition: all 0.5s;
    opacity: 0.2;
    pointer-events: none;
  }

  .slider-section {
    display: none;
  }

  .center1 {
    left: 5%;
  }

  .spacing {
    padding-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 999px) {
  .nav-icon {
    display: none;
  }
}

@media (max-width: 1000px) {
  .slider, .slide-buttons {
    display: none;
  }
}

@media (min-width: 1000px) {
}
