@media (max-width: 980px) {
  .i-nav{
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 25px;
    padding-right: 75px;
    float: right;
  }

  .nav-icon{
    width: 25px;
  }

  .g1{
    padding: 50px 0 0 0;
  }
  .g2{
    padding: 0 0 50px 0;
  }

  .tips{
    width: 350px;
  }

  nav {
    margin-top: 70px;
  }

  .nav-color {
    font-size: 20px;
  }

  nav ul {
    background: #ececec;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    transition: all 0.5s;
    text-align: center;
    margin: 0 -100% 0 -100%;
    padding: 0;
  }
  nav ul li {
    display: block;
  }
  nav ul li:hover {
    background-color: #d2cece;
    transition: all 0.5s;
  }

  .open {
    display: block;
    visibility: visible;
    height: 192px;
    transition: all 0.5s;
  }

  .dim {
    transition: all 0.5s;
    opacity: 0.2;
    pointer-events: none;
  }

  .disableScroll {
    overflow-y: hidden;
  }

  .slider-section {
    display: none;
  }

  .center1 {
    left: 5%;
  }

  .spacing {
    padding-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .hiking-tips {
    width: 280px;
  }
  .tips {
    width: 290px;
  }
}

@media (min-width: 999px) {
  .nav-icon {
    display: none;
  }
}

@media (max-width: 1000px) {
  .slider, .slide-buttons {
    display: none;
  }
}

@media (min-width: 1000px) {
}
