<div class="footer">
  <div class="row foot-upper">
    <div class="col-sm-4 location">
      <h3>HIKE.CO</h3>
      <p>GILLIGINS, ISLAND</p>
      <p>KANEHOE, HAWAII</p>
      <p>(US)</p>
    </div>
    <div class="col-sm-4 contact">
      <h3>CONTACT</h3>
      <p>EMAIL : HIKE.CO@GMAIL.COM</p>
      <p>TEL # : 666-666-6666</p>
    </div>
    <div class="col-sm-4 signup">
      <h3>NEWSLETTER</h3>
      <form id="email-form" method="POST">
        <input type="text" name="email" class="email-input" placeholder="Email..."/>
        <input type="submit" value="SUBMIT" class=""/>
      </form>
    </div>
  </div>
  <div class="row foot-lower">
    <div class="col-md-12 copyright">
      <div class="line4"></div>
      <p>© 2016 HIKE (CO)  US COMPANY REG: 95035829</p>
    </div>
  </div>
</div>
