<div class="row head">
  <div class="container-fluid">
    <div class="col-xs-3">
      <h2 class="head-title">Hike.</h2>
    </div>
    <div class="col-xs-6">
      <nav>
        <ul>
          <li role="presentation"><a href="../index" class="top-nav">HOME</a></li>
          <li role="presentation"><a href="../mountains" class="top-nav">MOUTAINS</a></li>
          <li role="presentation"><a href="../gear" class="top-nav">GEAR</a></li>
          <li role="presentation"><a href="../newsletter" class="top-nav">NEWSLETTER</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-3">
      <a class="i-nav">
        <img src="app/images/i-nav.png" class="nav-icon" />
      </a>
      <div class="cart-button"><p class="cart">CART</p></div>
    </div>
  </div>
</div>
