<ul class="mtn-mtn">
  <li class="KJ"><a href="#">Killimanjaro</a></li>
  <li class="MH"><a href="#">Matterhorn</a></li>
  <li class="AC"><a href="#">Aconcagua</a></li>
  <li class="BN"><a href="#">Ben Nevis</a></li>
  <li class="FR"><a href="#">Fitz Roy</a></li>
  <li class="YS"><a href="#">Yosemite</a></li>
  <li class="EV"><a href="#">Everest</a></li>
  <li class="OL"><a href="#">Olympus</a></li>
  <li class="DB"><a href="#">Dablam</a></li>
  <li class="LH"><a href="#">Lhotse</a></li>
  <li class="DN"><a href="#">Denali</a></li>
  <li class="BL"><a href="#">Blanc</a></li>
  <li class="EG"><a href="#">Eiger</a></li>
  <li class="FJ"><a href="#">Fuji</a></li>
  <li class="TI"><a href="#">Tai</a></li>
  <li class="K2"><a href="#">K2</a></li>
</ul>
