html(lang='en')
  head
    title Hike.
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='img/favicons/favicon.ico')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='styles/main.scss')

  body

    .row.head

      .col-xs-3
          h2.head-title Hike.
        a.i-nav
          img(src="http://www.btownweb.com/wp-content/themes/cnsweb-2014/images/menu-trigger.png" class="nav-icon")
      .col-xs-6
        nav
          ul
            li(role="presentation")
              a.top-nav(href="index.html" class="nav-color") Home
            li(role="presentation")
              a.top-nav(href="mountains.html" class="nav-color") Mountains
            li(role="presentation")
              a.top-nav(href="gear.html" class="nav-color") Gear
            li(role="presentation")
              a.top-nav(href="newsletter.html" class="nav-color") Newsletter

    .section-3.container
      .row.one
        .col-md-12
          h2.prod-title Packs

          .row
            .col-md-6
              img(src="../img/pack.jpg" class="products prod-1")
              h4 Backpack
              ul.list-inline.price-center
                li
                  h5 $39.99
                li
                  button(type="button" class="btn btn-default") Buy
            .col-md-6
              img(src="../img/pack2.jpg" class="products prod-2")
              h4 Backpack v2
              ul.list-inline.price-center
                li
                  h5 $99.99
                li
                  button(type="button" class="btn btn-default") Buy

      .row.two
        .col-md-12
          h2.prod-title Boots

          .row
            .col-md-6
              img(src="../img/boots2.jpg" class="products prod-1")
              h4 Hiking Boots v2
              ul.list-inline.price-center
                li
                  h5 $39.99
                li
                  button(type="button" class="btn btn-default") Buy
            .col-md-6
              img(src="../img/boots.jpg" class="products prod-2")
              h4 Hiking Boots
              ul.list-inline.price-center
                li
                  h5 $99.99
                li
                  button(type="button" class="btn btn-default") Buy

      .row.one
        .col-md-12
          h2.prod-title Jackets

          .row
            .col-md-6
              img(src="../img/jacket.jpg" class="products prod-1")
              h4 Jacket
              ul.list-inline.price-center
                li
                  h5 $39.99
                li
                  button(type="button" class="btn btn-default") Buy
            .col-md-6
              img(src="../img/jacket2.jpg" class="products prod-2")
              h4 Jacket v2
              ul.list-inline.price-center
                li
                  h5 $99.99
                li
                  button(type="button" class="btn btn-default") Buy

      .row.two
        .col-md-12
          h2.prod-title Tents

          .row
            .col-md-6
              img(src="../img/tent.jpg" class="products prod-1")
              h4 Grey Tent
              ul.list-inline.price-center
                li
                  h5 $39.99
                li
                  button(type="button" class="btn btn-default") Buy
            .col-md-6
              img(src="../img/tent2.jpg" class="products prod-2")
              h4 Tent
              ul.list-inline.price-center
                li
                  h5 $99.99
                li
                  button(type="button" class="btn btn-default") Buy

      .row.one
        .col-md-12
          h2.prod-title Utilities

          .row
            .col-md-6
              img(src="../img/flask.jpg" class="products prod-1")
              h4 Hydro Flask
              ul.list-inline.price-center
                li
                  h5 $39.99
                li
                  button(type="button" class="btn btn-default") Buy
            .col-md-6
              img(src="../img/hat.jpg" class="products prod-2")
              h4 Hat
              ul.list-inline.price-center
                li
                  h5 $9.99
                li
                  button(type="button" class="btn btn-default") Buy
          .row
            .col-md-6
              img(src="../img/camera.jpg" class="products prod-1")
              h4 Camera
              ul.list-inline.price-center
                li
                  h5 $299.99
                li
                  button(type="button" class="btn btn-default") Buy
            .col-md-6
              img(src="../img/stick.jpg" class="products prod-2")
              h4 Walking Stick
              ul.list-inline.price-center
                li
                  h5 $19.99
                li
                  button(type="button" class="btn btn-default") Buy

    .row.section-5
      .col-md-12
        h2.foot-title Hike.

      .row
        .col-md-12
          ul.icons.foot-title
            li.sm
              img(src="../img/pt.png", width="30px")
            li.sm
              img(src="../img/tr.png", width="30px")
            li.sm
              img(src="../img/tw.png", width="30px")
            li.sm
              img(src="../img/fb.png", width="30px")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src='scripts/menu.js', type='text/javascript')
