
html(lang='en') 
  head
    title Hike.
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='img/favicons/favicon.ico')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/media-queries.css')
  body 
    
    .row.head
      //.col-xs-4
        h2.head-title Hike.
        
      .col-xs-5
          h2.head-title Hike.
        a.i-nav
          img(src="http://www.btownweb.com/wp-content/themes/cnsweb-2014/images/menu-trigger.png" class="nav-icon")
        nav.pos           
          ul.nav.nav-pills
            li(role="presentation")
              a(href="#" class="nav-color") Home 
            li(role="presentation")
              a(href="html_pages/mountains.html" class="nav-color") Mountains
            li(role="presentation")
              a(href="html_pages/gear.html" class="nav-color") Gear 
            li(role="presentation")
              a(href="html_pages/newsletter.html" class="nav-color") Newsletter
    .container         
      .row.slider-section
        .slider
          .slide-viewer
            .slide-group
              .slide.slide-1
                a(href="html_pages/mountains.html")
                  img(src='img/mountain.png', alt='Mountains')
              .slide.slide-2
                a(href="html_pages/gear.html")
                  img(src='img/gear.png', alt='Gear')
              .slide.slide-3
                a(href="html_pages/newsletter.html")
                  img(src='img/newsletter.png', alt='Newsletter')
        .slide-buttons
            
      .row.section-2
        .col-md-6.text-center 
          img(src="img/hiking-tips.png" width="350px") 
        .col-md-6.text-center
          .tips
            h3 Hiking tips.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            button.btn-main.bt1(type='button') Here.       
          
      .row.section-3
        .col-md-12
          h1 Hike Gear
            
          .row
            .col-md-6
              img(src="img/pack.jpg" class="products prod-1")
              h4 Backpack
              ul.list-inline.price-center
                li
                  h5 $39.99
                li
                  button(type="button" class="btn btn-default") Buy
            .col-md-6
              img(src="img/boots.jpg" class="products prod-2")
              h4 Hiking Boots
              ul.list-inline.price-center
                li
                  h5 $99.99
                li
                  button(type="button" class="btn btn-default") Buy
          .row
            .col-md-6
              img(src="img/flask.jpg" class="products prod-3")
              h4 Hydro Flask
              ul.list-inline.price-center
                li
                  h5 $29.99
                li
                  button(type="button" class="btn btn-default") Buy
            .col-md-6
              img(src="img/tent.jpg" class="products prod-3")
              h4 Tent
              ul.list-inline.price-center
                li
                  h5 $199.99
                li
                  button(type="button" class="btn btn-default") Buy
          .row
            .col-md-12.text-center
              button.btn-main.bt2(type='button') Check out more gear.
                 
      .row.section-4
          .col-md-12
            h1 Photo Gallery
            h5 What we like.        
          .row.g1
            .col-md-4.col-sm-4.text-center.light-box.lb1
              img(src="http://i.imgur.com/2Lp9Bjf.jpg?1", alt="")
              p @kylefinndempsey
            .col-md-4.col-sm-4.text-center.light-box.lb2
              img(src="http://i.imgur.com/SRNTYpM.jpg?1", alt="")
              p @prefabnsmallhomes
            .col-md-4.col-sm-4.text-center.light-box.lb3
              img(src="http://i.imgur.com/poNyFFG.jpg?1", alt="")
              p @pnwonderland
          .row.g2
            .col-md-4.col-sm-4.text-center.light-box.lb4
              img(src="http://i.imgur.com/gZnVefm.jpg?1", alt="")
              p @offgridstuff
            .col-md-4.col-sm-4.text-center.light-box.lb5
              img(src="http://i.imgur.com/RX6bHwr.jpg?1", alt="")
              p @tinyhousetinyfootprint
            .col-md-4.col-sm-4.text-center.light-box.lb6
              img(src="http://i.imgur.com/ZQjhmGo.jpg?1", alt="")
              p @dyerandjenkins
          .row
            .col-md-12.text-center
              button.btn-main.bt3(type='button') Our Tumblr.
          
    .row.section-5
      .col-md-12
        h2.foot-title Hike.

      .row
        .col-md-12   
          ul.icons.foot-title
            li.sm
              img(src="img/pt.png", width="30px")
            li.sm
              img(src="img/tr.png", width="30px") 
            li.sm
              img(src="img/tw.png", width="30px")
            li.sm
              img(src="img/fb.png", width="30px") 
          
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src='script.js', type='text/javascript')
    script(src='menu.js', type='text/javascript')
    
