<html lang="en">
<head>
  <title>Hike.</title>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="app/img/favicons/favicon.ico" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <link rel="stylesheet" href="app/styles/main.css" />
  <link rel="stylesheet" href="app/css/media-queries.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% include partials/header.ejs %>
  <div class="shop">
    <div class="shop-container">
      <div class="shop-text">
        <h1>GEAR</h1>
        <div class="line5"></div>
        <p>
          Give us all of your fucking money.
        </p>
      </div>
      <div class="shop-options">
        <ul>
          <li><a href="#">APPAREL</a></li>
          <li><a href="#">CAMP</a></li>
          <li><a href="#">UTILITIES</a></li>
          <li><a href="#">GADGETS</a></li>
        </ul>
      </div>
      <!--<h1 class="product-title">Designer Tent</h1>-->
      <div class="shop-imgs">
        <ul>
          <li><a href="product"><img src="app/img/dummy-imgs/grey-1.png"/></a></li>
          <li><a href="#" onclick="hokay()"><img src="app/img/dummy-imgs/grey-2.png"/></a></li>
          <li><a href="#" onclick="hokay()"><img src="app/img/dummy-imgs/grey-3.png"/></a></li>
          <li><a href="#" onclick="hokay()"><img src="app/img/dummy-imgs/grey-4.png"/></a></li>
          <li><a href="#" onclick="hokay()"><img src="app/img/dummy-imgs/grey-5.png"/></a></li>
          <li><a href="#" onclick="hokay()"><img src="app/img/dummy-imgs/grey-6.png"/></a></li>
        </ul>
      </div>
    </div>
  </div>
  <% include partials/footer.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src= "app/scripts/script.js"type = "text/javascript"></script>
  <script src="app/scripts/menu.js" type="text/javascript"></script>
  <script src="app/scripts/hike_data.js" type="text/javascript"></script>
  <script></script>
</div>
</body>
</html>
