<html lang="en">
<head>
  <title>Hike.</title>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="app/img/favicons/favicon.ico" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <link rel="stylesheet" href="app/styles/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% include partials/header.ejs %>
  <div class="demo-shop">
    <div class="demo-container">
      <div class="demo-text">
        <h1>GEAR</h1>
        <div class="line5"></div>
        <p>Give us all of your money.</p>
      </div>
      <div class="shop-options">
        <ul>
          <li><a href="#">APPAREL</a></li>
          <li><a href="#">CAMP</a></li>
          <li><a href="#">UTILITIES</a></li>
          <li><a href="#">GADGETS</a></li>
        </ul>
      </div>
      <div class="demo">
        <div class="row data-imgs">
          <div class="col-xs-6 col-sm-6 col-md-4 no-padding" id="img-1">
            <a href="/product/shirt" class="hover-dim"><img src="app/img/utilities/shirt.jpeg"/></a>
            <h3>SHIRT</h3>
            <p>$20.00</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-4 no-padding" id="img-2">
            <a href="/product/hat" class="hover-dim"><img src="app/img/utilities/hat.jpeg"/></a>
            <h3>HAT</h3>
            <p>$12.00</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-4 no-padding" id="img-3">
            <a href="/product/jacket" class="hover-dim"><img src="app/img/utilities/jacket.jpeg"/></a>
            <h3>JACKET</h3>
            <p>$60.00</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-4 no-padding" id="img-4">
            <a href="/product/pants" class="hover-dim"><img src="app/img/utilities/pants.jpeg"/></a>
            <h3>PANTS</h3>
            <p>$50.00</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-4 no-padding" id="img-5">
            <a href="/product/shoes" class="hover-dim"><img src="app/img/utilities/shoes.jpeg"/></a>
            <h3>SHOES</h3>
            <p>$40.00</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-4 no-padding" id="img-6">
            <a href="/product/jacket2" class="hover-dim"><img src="app/img/utilities/jacket2.jpeg"/></a>
            <h3>JACKET2</h3>
            <p>$10.00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include partials/footer.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="app/scripts/menu.js" type="text/javascript"></script>
  <script src="app/scripts/hike_data.js" type="text/javascript"></script>
  <script></script>
</div>
</body>
</html>
