<html lang="en">
<head>
  <title>Hike.</title>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="app/img/favicons/favicon.ico" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <link rel="stylesheet" href="app/styles/main.css" />
  <link rel="stylesheet" href="app/css/media-queries.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% include partials/header.ejs %>
  <div class="mtn-selection">
    <div class="mtn-container">
      <div class="mount-nav">
        <p>
          <img src="app/img/arrow.png" />
          PEAKS
        </p>
      </div>
      <div class="alphabet-results">
        <% include partials/results.ejs %>
      </div>
    </div>
  </div>
  <div class="row about-2 mtn-about">
    <div class="contain">
      <div class="col-md-6">
        <div class="img-crop ex-img"><img src="app/img/mt/killi.jpg" class="tips_img"/></div>
      </div>
      <div class="col-md-6 theTipsText">
        <div class="theTip">
          <h1 class="mtn-title">KILLIMANJARO</h1>
          <div class="mtn-text">
            <p>
              Kilimanjaro is the highest mountain in Africa at 19,341 feet (5,895 meters), but it isn't a mountain in a traditional sense. It is a giant stratovolcano that began forming about a million years ago and is composed of many layers of hardened volcanic ash, lava, pumice and tephra — fragmental material that is the fallout from a volcanic eruption. A number of theories exist about the meaning and origin of the name. One theory is that the name is a mix of the Swahili word Kilima, meaning 'mountain,' and the KiChagga word Njaro, loosely translated as 'whiteness.' Another is that Kilimanjaro is the European pronunciation of a KiChagga phrase meaning 'we failed to climb it.'One of the Seven Summits (the highest peaks on the seven continents), Kilimanjaro is in Tanzania in east Africa. Kilimanjaro lies within the 292-square-mile (756 square kilometers) Kilimanjaro National Park. Kilimanjaro rises from its base approximately 16,732 feet (5,100 meters) from the plains near
            </p>
            <p>
              making it the tallest free-standing mountain in the world. There are three volcanic cones that make up Kilimanjaro  Kibo is the summit  Mawenzi at 16,893 feet (5,149 meters) and Shira at 13,000 feet (3,962 meters). Uhuru Peak is the highest summit on Kibo's crater rim. Uhuru, Swahili for 'Freedom,' was named in 1961 when Tanganyika gained its independence . Tanganyika later joined with the islands of Zanzibar to form Tanzania. While the other two volcanic formations are extinct — meaning that they are highly unlikely to erupt again — Kibo (the highest peak) is merely dormant, so there is the possibility that it could erupt. Estimates have the last major eruption dated to 360,000 years ago, but volcanic activity was recorded just 200 years ago.
            </p>
            <p>
              While Kibo is dormant, gas is emitted into the crater, causing several collapses and landslides, with the most extensive ones creating the area known as the Western Breach. While the name Kilimanjaro has its origins in the KiChagga word for 'white,' it is becoming increasingly less so. While it still covered with ice caps and glaciers at higher levels, global warming is quickly changing the climate and scientists expect the famed snows of Kilimanjaro to disappear sometime between 2022 and 2033.
            </p>
          </div>
          <div class="mtn-title-2"> </div>
          <div class="mtn-title-3"> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mount-content">
    <div class="mount-container">
      <div class="mount-text col-md-6"></div>
      <div class="mount-img col-md-6"></div>
    </div>
  </div>
  <% include partials/footer.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="app/scripts/menu.js" type="text/javascript"></script>
  <script src="app/scripts/hike_data.js" type="text/javascript"></script>
  <script></script>
</div>
</body>
</html>
